
//------------ BASE STYLES -----------------------------------------------------------------

@blue: #7beec7;
@grey: #60606e;

.arab {
  font-family: "arabtype", sans-serif;
  font-weight: normal;
}
.Monts {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.OpenSans {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
*{
  box-sizing: border-box;
  font-size: 16px;
}
.dblock{
  display: block;
}
.dnone{
  display: none;
}
//----------- COMPONENTS --------------------------------------------------------------------------
.logo{
    .Monts;
    
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    margin-top: 40px;
    &-link{
      color: @grey;
      &:hover{
        text-decoration: none;
        color: @grey;
      }
    }
}
.nav{
  ul{

  }
}

.header {
  .Monts;
  color: @grey;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 48px;
  z-index: 10;
  position: relative;
}

.blue_block {
  position: absolute;
  display: block;
  background-color: #7beec7;
  width: 67px;
  height: 21px;
  top:21px;
  left: 0;
  //margin-left: -33px;
  z-index: -1;
}
.blue_button{
  .Monts;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: @blue;
  color: white;
}

.text{
  .OpenSans;
  color: lighten(@grey, 10%);
  line-height: 2;
  font-size: 16px;
}
/* #region */




// .logo{
//   .Monts;
//   display: block;
//   text-transform: uppercase;
//   font-size: 18px;
//   line-height: 48px;
//   margin-top: 33px;
//   &-link{
//     color: @grey;
//     &:hover{
//       text-decoration: none;
//       color: @blue;
//     }
//   }
// }
// .menu{
//   margin-top: 43px;
//   &-burger{
//     display: block;
//     width: 31px;
//     height: 1px;
//     background-color: @grey;
//     &:after{
//       content: "";
//       position: relative;
//       display: block;
//       margin-top: 13px;
//       width: 23px;
//       height: 1px;
//       background-color: @grey;
//     }
//     &:before{
//       content: "";
//       position: relative;
//       display: block;
//       margin-top: 6px;
//       width: 15px;
//       height: 1px;
//       background-color: @grey;
//     }
//   }
//   &-link{
//     position: relative;
//     left: 100%;
//     margin-left: -31px;
//     cursor: pointer;
//     display: inline-block;
//     height: 15px;
//   }
// }
// .send{
//   background-color: @blue;
//   padding: 50px 80px;
//   &-header{
//     color: white;
//     margin-bottom: 25px;
//   }
//   &-button{
//     .Monts;
//     text-transform: uppercase;
//     border: none;
//     padding: 15px 30px;
//     background-color: #fff;
//     color: @blue;
//   }
//   &-form{
//     max-width: 560px;
//     padding: 20px 25px;
//     background-color: white;
//   }
//   &-subtitle{
//     .Monts;
//     font-size: 24px;
//     text-transform: uppercase;
//     color: @grey;
//   }
//   &-text{
//     .OpenSans;
//     margin: 15px 0;
//     color: lighten(@grey, 15%);
//     line-height: 24px;
//     font-size: 16px;
//   }
//   &-email{
//     border: 1px solid lighten(@grey,50%);
//     width: 375px;
//     padding: 20px;
//     &::placeholder{
//       .Monts;
//       font-size: 12px;
//       color: lighten(@grey,15%);
//     }
//   }
//   &-submit{
//     margin-right: -2px;
//     padding: 22px 45px;
//   }
// }

/* #endregion */
//----------- MODULES --------------------------------------------------------------------------
.head{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu{
  z-index: 10px;
  position: relative;
  transform-origin: top;
  // Основное меню
  &-link{
    .Monts;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: white;
    &:hover{
      text-decoration: none;
      color: white;
    }
  }
  &-list{
    margin-top: 40px;
    text-align: center;
    height: inherit;
  }
  &-element{
    cursor: pointer;
    height: 40px;
    background-color: @grey;
    font-size: 12px;
    line-height: 40px;
    &:hover{
      transition: all 0.3s;
      background-color: darken( @grey, 10%);
      .menu-option{
        transition: transform 0.3s;
        transform: scaleY(1);
      }
    }
  }
  // Подпункты меню
  &-option{
    //background-color: @grey;
    height: 120px;
    transform-origin: top;
    
    transition: transform 0.5s;
    transform: scaleY(0);
    .menu-element{
      
    }
    .menu-link{
      //color: white;
    }
  }
  // Анимация появления меню
  &-opened{
    height: 240px;
    transition: all 0.7s;
    transform: scaleY(1);
    // transition-property: height, scale;
    // transition-duration: 0.7s;
    // transition-timing-function: linear;
  }
  &-closed{
    height: 0;
    transition: all  0.5s;
    transform: scaleY(0);
    
    // transition-property: height, scale;
    // transition-duration: 0.7s;
    // transition-timing-function: linear;
    
  }
  // Бургер-кнопка
  &-burger_line{
    display: block;
    position: absolute;
    height: 1px;
    width: 30px;
    background-color: @grey;
    &::before{
      content: "";
      display: block;
      position: relative;
      background-color: @grey;
      width: 15px;
      height: 1px;
      margin-top: 8px;
    }
    &::after{
      content: "";
      display: block;
      position: relative;
      background-color: @grey;
      width: 21px;
      height: 1px;
      margin-top: 8px;
    }
  }
  &-burger{
    cursor: pointer;
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    top: 100%;
    left: 100%;
    margin-left: -40px;
    margin-top: -18px;
  }
  // Анимация Бургер-кнопки при открытии/закрытии
  &-burger_opened{
    .menu-burger_line{
      &::before{
        transition: all 1s;
        width: 30px;
      }
      &::after{
        transition: all 1s;
        width: 30px;
      }
    }
    
  }
  &-burger_closed{
    .menu-burger_line{
      &::before{
        transition: all 1s;
        width: 15px;
      }
      &::after{
        transition: all 1s;
        width: 21px;
      }
    }
    
  }
  
}
.main_screen{
  background-image: url(../img/bg_main_screen.png);
  background-size: cover;
  height: 160vh; 
   &-hover{
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  &-blue_block{
    display: inline-block;
    .Monts;
    background-color: @blue;
    padding: 7px 18px;
    color: @grey;
    line-height: 20px;
    font-size: 18px;
    text-transform: uppercase;
  }
  &-header{
    .Monts;
    padding: 33px 47px;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: @grey;
    border: 10px solid @grey;
  }
  &-text{
    line-height: 24px;
    margin: 20px auto;
    line-height: 2;
    width: 50%;
    color: @grey;
  }
}
.history{
  margin-top: 20px;
  &-text{
    color: @grey;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    padding: 10px;
  }
  &-hover{
    text-align: center;
  }
  &-header{
    text-align: center;
    display: inline-block;
  }
  &-img{
    display: block;
    margin: 0 auto;
  }
  &-button{
    cursor: pointer;
    position: relative;
    left: 50%;
    margin-top: 20px;
    margin-left: -200px;
    padding: 15px 40px;
    transition: 0.3s;
    &:hover{
      transform: scale(1.01);
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
  }
}
.reason{
  
  height: 370vh;
  &-hover{
    line-height: 2;
    width: 50%;
    margin: 0 auto;
    margin-top: 25vh;
    margin-bottom: 100px;
    text-align: center;
  }
  &-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  &-box{
    margin-bottom: 50px;
    flex-basis: 100%;
  }
  &-list_header{
    .Monts;
    display: block;
    text-transform: uppercase;
    color: @grey;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &-list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-icon{
    text-transform: uppercase;
    color: lighten(@grey, 30%);
    font-weight: normal;
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  &-element{
    color: lighten(@grey, 15%);
  }
  &-img{
    display: block;
    margin: 0 auto;
  }
}
.portfolio{
  height: 200vh;
  margin-bottom: 350px;
  &-hover{
    margin: 100px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-header{
    margin-bottom: 50px;
  }
  &-subhead{
    width: 50%;
  }
  &-choose{
    text-align: center;
  }
  &-list{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-element{
    .Monts;
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 14px;
    color: lighten(@grey, 5%);
    margin-bottom: 25px;
  }
  &-link{
    color: @grey;
    &:hover{
      text-decoration: none;
      color: @grey;
    }
  }
  &-active_link{
    position: relative;
    
    background-color: @blue;
    display: inline-block;
    padding: 3px 20px;
    margin-left: 0;
    .portfolio-link {
      color: white;
    }
  }
  
  

  //Анимация картинок
  &-wrapper_box{
    display: flex; 
    justify-content: center;
  }
  &-box{
    align-self: center;
    width: 262px;
    position: relative;
    margin: 15px 0;
    text-transform: uppercase;
    overflow: hidden;
    &-name{
      .Monts;
      font-size: 20px;
      color: @grey;
      transition: all 0.3s;
    }
    &-text{
      color: white;
      background-color: @blue;
      padding: 10px;
    }
    &:hover{
      .portfolio-wrapper{
        transform: translateX(0);
      }
    }
  }
  &-link_hover{
    //display: inline-block;
    height: 100%;
    width: auto;
    transition: 0.2s;
    cursor: pointer;
    
  }
  &-wrapper{
    transition: transform 1s ;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,.3);
    transform: translateX(-100%);
  }
  &-img{
    display: block;
    margin: 0 auto;
   
  }
}
/* #region */







// .footer{
//   padding: 50px 0px;
//   &-inner_list{
    
//     .OpenSans;
    
//     font-size: 14px;
//     list-style-type: none;
//     padding: 0;
//     margin: 0;
//     display: flex;
//     justify-content: space-between;
//     text-transform: uppercase;
//   }
//   &-inner_link{
//     color: @grey;
//     &:hover{
//       color: @grey;
//       text-decoration: none;
//     }
//   }
//   &-author{
//     .OpenSans;
//     font-size: 14px;
//     text-transform: uppercase;
//     color: @grey;

//   }
//   &-social{
//     text-align: right;
//   }
//   &-social_list{
//     font-size: 18px;
//     list-style-type: none;
//     padding: 0;
//     margin: 0;
//     display: flex;
//     justify-content: flex-end;
//   }
//   &-social_element{
//     margin-right: 8px;
//   }
//   &-social_links{
//     color: @grey;
//     &:hover{
//       color: @grey;
//       text-decoration: none;
//     }
//   }
// }

/* #endregion */

// Медиавыражения

@media screen and (min-width: 992px){
  .head{
    .container{
      display: flex;
      justify-content: space-between;
    }
    justify-content: space-between;
    
  }
  .menu{
    flex-basis: fill;
    transform: scaleY(1);
    &-list{
      text-align: left;
      display: flex;
    }
    &-option{
      position: absolute;
    }
    &-element{
      background-color: transparent;
      margin-right: 20px;
      &:hover{
        background-color: transparent;
      }
    }
    &-link{
      position: relative;
      width: auto;
      letter-spacing: 0;
      font-size: 12px;
      color: @grey;
      overflow: hidden;
      &::before{
        content: "";
        position: absolute;
        display: block;
        height: 1px;
        width: 40%;
        background-color: @grey;
        transition: all 0.5s; 
        transform: translateY(20px) scale(0);        
      }
      &:hover{
        color: @grey;
        &::before{
          transform: translateY(1px) scale(1);
        }
      }
    }
    &-burger{
      display: none;
    }
  }
  .history{
    margin-top: -300px;
    &-text{
    text-align: left;
    padding: 10px 0px;
    }
    &-header{
      text-align: left;
      margin-bottom: 20px;
    }
  }
  .reason{
    height: 150vh;
    &-hover{
      width: 50%;
    }
    &-box{
      flex-basis: 230px;
      text-align: left;
    }
    &-header{
      display: inline-block;
    }
  }
  .portfolio{
    &-choose{
      text-align: left;
    }
  }
  .blue_block{
    top: 21px;
    margin-left: 0;
    left: 0;
  }
}




